*{
    margin: 0;
    padding: 0;
}

.announcement-bar{
    background-color: #2455f6;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0; 
    height: 36px;
    transition-duration: 0.3s;
    z-index: 100;
}

.announcement-close img{
    position: absolute;
    right: 10px;
    top: 4px;
    height: 28px;
    cursor: pointer;
}

.invisible{
    height: 0;
    opacity: 0;
}

.site-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

.site-header a{
    text-decoration: none;
    color:black;
}

.cell{
    width: 33%;
    display: flex;
    font-size: 130%;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: space-around;
    font-family: acumin-pro,sans-serif;
}

.logo{
    font-weight: 500;
    font-size: 250%;
    font-family: acumin-pro,sans-serif;
}

.product-detail{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.product-gallery{
    flex-basis: 50%;
}

.product-detail img{
    height: 510.656px;
    padding: 18px 0;
}

.carousel{
    position: relative;
    width: 100%;
    text-align: center;
}

.carousel-nav{
    width: 95%;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 10%;
}

.carousel-button{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: rgba(52, 45, 45, 0.69);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-button-selected{
    background-color: rgba(52,45,45,0.3);
}

.carousel-item{
    display: none;
    border-radius: 80%;
    border: 1px solid black;
    width: 90%;
    margin-left: 3%;
}

.carousel-item-selected{
    display: block;
}

.product-form{
    flex-basis: 40%;
    padding: 0 5%;
    font-family: acumin-pro,sans-serif;
}

.product-form-nav ul{
    display: flex;
    justify-content: space-between;
}

.product-form-nav li{
    list-style: none;
    text-transform: uppercase;
}

.product-form-nav a{
    text-decoration: none;
    color: black;
}

.active{
    font-weight: 700;
    text-decoration: underline;
}

.product-form-title{
    padding-top: 3%;
}

.product-form-title strong{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 170%;
    margin-top: 5%;
}

.product-form-title em{
    font-family: Baskerville Italic;
    font-style: italic;
    font-size: 170%;
}

.product-details{
    display: flex;
    margin-top: 6%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #1d1d1b;
    justify-content: space-between;
}

.add-to-cart-button{
    font-size:22px;
    margin-top: 5%;
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    background-color: #1d1d1b;
    width: 100%;
    cursor: pointer;
    border: 1px solid #1d1d1b;
    font-weight: 400;
    transition-duration: 0.3s;
}

.add-to-cart-button:hover{
    background-color: #2455f6;
    border-color: #2455f6;
    color: #fff;
}

.single-product_free-delivery{
    font-family: acumin-pro,sans-serif;
    text-align: center;
    margin-top: 10px;
    color: #2455f6;
    vertical-align: baseline;
}

.accrodion li{
    list-style: none;
}



.accrodion li label{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 18px;
    cursor: pointer;
    position:relative;
}

.accordion-label::after{
    content: "+";
    position: absolute;
    right: 0;
    font-size: 20px;
}

.accrodion input[type="radio"]{
    display: none;
}

.accordion-content{
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
}

.accrodion input[type="radio"]:checked + label + .accordion-content{
    max-height: 100%;
}

@media (max-width:750px){
    .product-detail{
        flex-direction: column;
    }

 
    

    .product-gallery{
        margin-bottom: 5%;
    }
    .logo{
        font-size: 30px;
    }
    .cell a{
        font-size:15px
    }
    .product-form-nav li{
        font-size: 13px;
    }
    .announcement-bar{
        font-size: 85%;
    }
}